<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
   <CodeSnippet Format="1.0.0">
       <Header>
           <Title>FloatingBarControl Code Snippet</Title>
           <Shortcut>fbcc</Shortcut> <!-- FloatingBarControl C# -->
           <Description>Create a code snippet of FloatingBarControl</Description>
           <Author>Ink Canvas Better</Author>
       </Header>
       <Snippet>
		   <Declarations>
			   <Literal>
				   <ID>FloatingBarControlName</ID>
				   <Default>Name</Default>
			   </Literal>
			   <Literal>
				   <ID>Guid</ID>
				   <Default>XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX</Default>
			   </Literal>
		   </Declarations>
           <Code Language="csharp">
               <![CDATA[
using System;
using System.Collections.ObjectModel;
using System.ComponentModel;
using System.Diagnostics;
using System.Runtime.CompilerServices;
using System.Text;
using System.Windows;
using System.Windows.Controls;
using System.Windows.Controls.Primitives;
using System.Windows.Input;
using System.Windows.Media;
using Ink_Canvas_Better.Controls.FloatingBar.SubPanel;
using Ink_Canvas_Better.Interface;
using Ink_Canvas_Better.Services;
using Ink_Canvas_Better.Windows;
using Newtonsoft.Json;

namespace Ink_Canvas_Better.Controls.FloatingBar.FloatingBarControl;
public partial class $FloatingBarControlName$ : UserControl, IFloatingBarComponentSettingBase
{
    private MainWindow mainWindow;

    public static string Guid { get; } = "$Guid$";
    public string ComponentGuid => Guid;
    public object Settings { get; set; } = new $FloatingBarControlName$Settings();

    public $FloatingBarControlName$()
    {
        InitializeComponent();

        this.Loaded += $FloatingBarControlName$_Loaded;
    }

    private void $FloatingBarControlName$_Loaded(object sender, RoutedEventArgs e)
    {
        (Settings as $FloatingBarControlName$Settings).IsInitializing = false;
    }

    public bool TryInvoke()
    {
        return true;
    }

    #region Properties

    #region Text

    public string Text
    {
        get { return (string)GetValue(TextProperty); }
        set { SetValue(TextProperty, value); }
    }

    public static readonly DependencyProperty TextProperty =
        DependencyProperty.Register("Text", typeof(string), typeof($FloatingBarControlName$), new PropertyMetadata("Text"));

    #endregion

    #region TextVisibility

    public Visibility TextVisibility
    {
        get { return (Visibility)GetValue(TextVisibilityProperty); }
        set { SetValue(TextVisibilityProperty, value); }
    }

    public static readonly DependencyProperty TextVisibilityProperty =
        DependencyProperty.Register("TextVisibility", typeof(Visibility), typeof($FloatingBarControlName$), new PropertyMetadata(Visibility.Collapsed));

    #endregion

    // Popup Properties

    #region IsOpen

    public bool IsOpen
    {
        get { return (bool)GetValue(IsOpenProperty); }
        set { SetValue(IsOpenProperty, value); }
    }

    public static readonly DependencyProperty IsOpenProperty =
        DependencyProperty.Register(nameof(IsOpen), typeof(bool), typeof($FloatingBarControlName$), new PropertyMetadata(false));

    #endregion

    #region StaysOpen

    public bool StaysOpen
    {
        get { return (bool)GetValue(StaysOpenProperty); }
        set { SetValue(StaysOpenProperty, value); }
    }

    public static readonly DependencyProperty StaysOpenProperty =
        DependencyProperty.Register(nameof(StaysOpen), typeof(bool), typeof($FloatingBarControlName$), new PropertyMetadata(false));

    #endregion

    #region CornerRadius

    public CornerRadius CornerRadius
    {
        get { return (CornerRadius)GetValue(CornerRadiusProperty); }
        set { SetValue(CornerRadiusProperty, value); }
    }

    public static readonly DependencyProperty CornerRadiusProperty =
        DependencyProperty.Register(nameof(CornerRadius), typeof(CornerRadius), typeof($FloatingBarControlName$), new PropertyMetadata(new CornerRadius(4d)));

    #endregion

    #region PopupAnimation

    public PopupAnimation PopupAnimation
    {
        get { return (PopupAnimation)GetValue(PopupAnimationProperty); }
        set { SetValue(PopupAnimationProperty, value); }
    }

    public static readonly DependencyProperty PopupAnimationProperty =
        DependencyProperty.Register(nameof(PopupAnimation), typeof(PopupAnimation), typeof($FloatingBarControlName$), new PropertyMetadata(PopupAnimation.Fade));

    #endregion

    #endregion

    private void Button_HidePopup(object sender, RoutedEventArgs e) => this.IsOpen = false;
}

public class $FloatingBarControlName$Settings : INotifyPropertyChanged
{
    public event PropertyChangedEventHandler? PropertyChanged;

    protected virtual void OnPropertyChanged([CallerMemberName] string? propertyName = null)
    {
        if (!IsInitializing) App.GetService<SettingsService>().SaveSettings();
        PropertyChanged?.Invoke(this, new PropertyChangedEventArgs(propertyName));
    }

    [JsonIgnore]
    public bool IsInitializing { get; set; } = true;
}


               ]]>
           </Code>
       </Snippet>
   </CodeSnippet>
</CodeSnippets>